@import '~antd/dist/antd.css';
.ant-message-notice{
    text-align: right;
}
.ant-card-grid >img{
    max-width:250px;
}
@media (max-width:580px){
    .ant-card-grid{
        width:100%;
    }
}
@media (min-width:580px) and (max-width:900px){

    .ant-card-grid{
        width:50%;
    }
}

@media (min-width:900px){
    .ant-card-grid{
        width:33%;
    }
}